{% extends "base.html.twig" %}
    {% block megatitle %} Update Category {% endblock megatitle %}




{%block main %}

    <p>{{ message }}</p>

    <form method="post" action="{{ path('update_category', {id: category.id}) }}">

        <label>Titre
            <input name="title" type="text" value="{{ category.title }}" required/>
        </label>

        <label>Image
            <input name="color" type="text" value="{{ category.color }}"/>
        </label>

        <input type="submit">


    </form>

{%endblock main %}
