{% extends "base.html.twig" %}
    {% block megatitle %} Catégorie créée {% endblock megatitle %}




    {% block main %}
        <h2>Vous avez créée {{ category.title }}</h2>

    {% endblock main %}
