{% extends "base.html.twig" %}
    {% block megatitle %} Catégorie créée {% endblock megatitle %}




    {% block main %}
        <form method="POST">

            <label for="title">Titre</label>
            <input type="text" id="titre" name="title" placeholder="Titre">

            <label for="color">Color</label>
            <input id="color" name="color" placeholder="Color">

            <button type="submit">Créé</button>

        </form>

    {% endblock main %}
