{% extends "base.html.twig" %}
    {% block megatitle %} Contact {% endblock megatitle %}


 {% block main %}

    <form method="post" action="{{ path('contact') }}">
        <input type="text" name="name">Name
        <input type="text"  name="message">Message
        <input type="submit">
    </form>

     {% if messageEnv %}
         <p>{{ messageEnv }}</p>
     {% endif %}

 {% endblock main %}